<div class="col-12 col-md-6 col-lg-4 mb-5 mb-lg-0">
    <div class="card shadow text-center">
        <!-- Header -->
        <div class="card-header bg-white p-3">
            <h3 class="text-primary mb-4">{%ballot.name%}</h3>
            <h3 class="text-primary mb-4">{%ballot.end_date%}</h3>
            <!-- <span class="d-block">
                <span class="display-1 text-dark fw-bold">
                    <span class="align-top font-medium">$</span>19
                </span>
                <span class="d-block text-gray font-small">/ month</span>
            </span> -->
        </div>
        <!-- End Header -->
        <!-- Content -->
        <div class="card-body">
            <ul class="list-unstyled mb-4">
                <li class="list-item pb-3"><strong>1</strong></li>
                <li class="list-item pb-3">Storage space: <strong>5GB</strong></li>
                <li class="list-item pb-3"><strong>100k</strong> monthly visitors</li>
                <li class="list-item pb-3">One-click staging site</li>
                <li class="list-item pb-3">Search engine wizard </li>
                <li class="list-item pb-3">Community support</li>
            </ul>
            <div class="d-grid"><a href="#" class="btn btn-primary animate-up-1">Purchase now</a></div>
        </div>
        <!-- End Content -->
    </div>
</div>