
<div class="row justify-content-left mb-7 mt-6">
    
    <div class="col-6 col-md-6 col-lg-4 mb-5 mb-lg-0 ">
        <div class="card shadow text-center" style="width: 30rem;">
            <!-- Header -->
            <div class="card-header bg-white ">
                <h3 class="text-primary mb-4">{{value.15}}</h3>
                <span class="d-block">
                    <span class="display-2 text-dark fw-bold">
                        {{ value.2}}
                    </span>
                    <span class="d-block text-gray font-small">Ballot</span>
                </span>
            </div>
            <!-- End Header -->
            <!-- Content -->
            <div class="card-body">
                <ul class="list-unstyled mb-4">
                    <li class="list-item pb-3"><strong>Create By:</strong> {{ value.4}}</li>
                    <li class="list-item pb-3"><strong>Start Date:{{ value.13}}</strong> </li>
                    <li class="list-item pb-3"><strong>End Date:{{ value.14}}</strong> </li>
                    <li class="list-item pb-3"><strong>Proposals_count:</strong> {{value.9}}</li>
                  
                </ul>
                {%if value.16%}
                <div class="d-grid"><a href='{{value.0}}' class="btn btn-primary animate-up-1 disabled">vote now</a></div>
                {%else%}
                <div class="d-grid"><a href='{{value.0}}' class="btn btn-primary animate-up-1 ">vote now</a></div>
                {%endif%}
            </div>
            <!-- End Content -->
        </div>
    </div>
    <div class="col-6 mb-2 mx-6">
        <div >
            <canvas id="proposal-analysis-chart{{value.0}}" data-url="home/proposal-chart/{{value.0}}"></canvas>
          </div>
    </div>
</div>
