<div class="col-4 mt-3">
    <div class="card shadow mb-6">
        <div class="card-body">
            <ul class="list-unstyled mb-4">
                <li class="list-item pb-3"><strong>Proposal Name:</strong> {{ p_data.1}}</li>
                <li class="list-item pb-3"><strong>Proposal Data:</strong> {{ p_data.2}} </li>
                <li class="list-item pb-3"><strong>Votes Count:</strong> {{ p_data.3}} </li>
                
              
            </ul>
            <div class="d-grid"><a href='{{data.0}}/{{p_data.0}}/{{address}}/vote' class="btn btn-primary animate-up-1">vote</a></div>
    </div>
</div>
</div>