{% load social_share %}
<div class="row justify-content-left mb-7 mt-6">
    
    <div class="col-6 col-md-6 col-lg-4 mb-5 mb-lg-0 ">
        <div class="card shadow text-center" style="width: 30rem;">
            <!-- Header -->
            <div class="card-header bg-white ">
                <div class=" align-content-end float-end">
                    <a href='#' class=" fas fa-share-alt" class="btn btn-primary text-uppercase" data-bs-toggle="modal" data-bs-target="#myModel" id="shareBtn" data-bs-placement="top" onclick='shareLink("{{value.0}}")'> 

                    </a>
                    <div class="modal fade" id="myModel" tabindex="-1" aria-labelledby="myModelLabel" aria-hidden="true">
                        <div class="modal-dialog">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title" id="myModelLabel">Share Link</h5> <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close" ></button>
                                </div>
                                <div class="modal-body">
                                    <p>Share this link via</p>
                                    <div class="d-flex align-items-center icons"> 
                                        <div  class="fs-5 d-flex align-items-center justify-content-center"> {% post_to_facebook 'http://127.0.0.1:8000/VTrust/ballot/{{value.0}}' '<span class="fab fa-facebook"></span>' %} </div> 
                                        <div  class="fs-5 d-flex align-items-center justify-content-center"> {% post_to_twitter 'http://127.0.0.1:8000/VTrust/ballot/{{value.0}}' '<span class="fab fa-twitter"></span>' %}</div> 
                                        <div  class="fs-5 d-flex align-items-center justify-content-center"> {% post_to_whatsapp 'http://127.0.0.1:8000/VTrust/ballot/{{value.0}}' '<span class="fab fa-whatsapp"></span>' %}</div>
                                        <div  class="fs-5 d-flex align-items-center justify-content-center"> {% post_to_telegram 'http://127.0.0.1:8000/VTrust/ballot/{{value.0}}' '<span class="fab fa-telegram-plane></span>' %}</div>
                                    </div>
                                    <p>Or copy link</p>
                                    <div class="field d-flex align-items-center justify-content-between"> <span class="fas fa-link text-center"></span> <input id="share_link" type="text"> <button>Copy</button> </div>
                                </div>
                            </div>
                        </div>
                    </div>
                
                </div>
                <h3 class="text-primary mb-4">{{value.14}}</h3>
                <span class="d-block">
                    <span class="display-2 text-dark fw-bold">
                        {{ value.2}}
                    </span>
                    <span class="d-block text-gray font-small">Ballot</span>
                </span>
            </div>
            <!-- End Header -->
            <!-- Content -->
            <div class="card-body">
                <ul class="list-unstyled mb-4">
                    <li class="list-item pb-3"><strong>Create By:</strong> {{ value.4}}</li>
                    <li class="list-item pb-3"><strong>Start Date:{{ value.12}}</strong> </li>
                    <li class="list-item pb-3"><strong>End Date:{{ value.13}}</strong> </li>
                    <li class="list-item pb-3"><strong>Proposals_count:</strong> {{value.9}}</li>
                  
                </ul>
                <div class="row">
                {% if value.17 %}
                <div class="col-4">
                    <a id="follower_btn_{{value.0}}" class="btn btn-primary animate-up-1" onclick="followers('{{ value.0 }}','{{addr}}')"><i class=" fa fa-rss"></i> </a>
                </div>
                {%else%}
                <div class="col-4">
                    <a id="follower_btn" class="btn btn-primary animate-up-1 disabled" onclick="followers('{{ value.0 }}','{{addr}}')"><i class=" fa fa-rss"></i> </a>
                </div>                
                {% endif%}
                {%if value.15%}
                <div class="col-4"><a href='ballot/{{value.0}}' class="btn btn-primary disabled ">vote now</a></div>
                {%else%}
                <div class="col-4"><a href='ballot/{{value.0}}' class="btn btn-primary animate-up-1 ">vote now</a></div>
                {%endif%}
                <div class="col-4">
                           <!-- Button Modal -->
                           {%if value.16 %}
                            <a  class="btn btn-primary animate-up-1 fas fa-trophy" data-bs-toggle="modal" id="{{value.0}}"
                                data-bs-target="#modal_{{value.0}}" onclick="showPopUp('{{ value.0 }}')"></a>
                            {% else %}
                            <a  class="btn btn-primary animate-up-1 fas fa-trophy disabled" data-bs-toggle="modal" id="{{value.0}}"
                                data-bs-target="#modal_{{value.0}}" onclick="showPopUp('{{ value.0 }}')"></a>
                            {% endif%}
                        <!-- Modal Content -->
                        <div class="modal fade" id="modal_{{value.0}}" tabindex="-1" role="dialog "
                            aria-labelledby="modal_{{value.0}}" aria-hidden="true" id="winningProposalJsonData" data-json="{{ data }}">
                            <div class="modal-dialog modal-dialog-centered" role="document">
                                <div class="modal-content bg-primary text-white">
                                    <div class="modal-header border-0">
                                        <button type="button" class="btn-close bg-gray-500" data-bs-dismiss="modal"
                                            aria-label="Close"></button>
                                    </div>
                                    <div class="modal-body">
                                        <div class="py-3 text-center">
                                            <span class="modal-icon display-1-lg"><span
                                                    class="far fa-envelope-open"></span></span>
                                            <h2 class="h4 modal-title my-3">Winning Proposal</h2>
                                                <div id="winner_details_{{value.0}}">

                                                </div>
                                        </div>
                                    </div>
                                    <!-- <div class="modal-footer border-secondary">
                                        <button type="button" class="btn btn-sm btn-white">Ok</button>
                                    </div> -->
                                </div>
                            </div>
                        </div>
                        <!-- End of Modal Content -->
                   
                </div>
                </div>
            </div>
            <!-- End Content -->
        </div>
    </div>
    <div class="col-6 mb-2 mx-6">
        <div >
            <canvas id="proposal-analysis-chart{{value.0}}" data-url="home/proposal-chart/{{value.0}}"></canvas>
          </div>
    </div>
</div>

