<!-- jQuery CDN - Slim version () -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.js"></script>
<!-- Popper.JS -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.0/umd/popper.min.js" integrity="sha384-cs/chFZiN24E4KMATLdqdvsezGxaGsi4hLGOzlXwp5UZB1LY//20VyM2taTB4QvJ" crossorigin="anonymous"></script>
<!-- Core -->
<script src="/static/assets/vendor/@popperjs/core/dist/umd/popper.min.js"></script>
<script src="/static/assets/vendor/bootstrap/dist/js/bootstrap.min.js"></script>
<script src="/static/assets/vendor/headroom.js/dist/headroom.min.js"></script>

<!-- Vendor JS -->
<script src="/static/assets/vendor/onscreen/dist/on-screen.umd.min.js"></script>
<script src="/static/assets/vendor/jarallax/dist/jarallax.min.js"></script>
<script src="/static/assets/vendor/smooth-scroll/dist/smooth-scroll.polyfills.min.js"></script>
<script src="/static/assets/vendor/vivus/dist/vivus.min.js"></script>
<script src="/static/assets/vendor/vanillajs-datepicker/dist/js/datepicker.min.js"></script>
<script async defer src="https://buttons.github.io/buttons.js"></script>

<!-- Pixel JS -->
<script src="/static/assets/js/pixel.js"></script>

<!-- Side bar-->
<script src="/static/assets/js/side_bar.js"></script>

<!--Blockchain development js-->
<script src="/static/assets/js/metamask_con.js"></script>

<!-- Validation js -->
<script src="/static/assets/js/parsley.min.js"></script>
<script src="/static/assets/js/validation.js"></script>
